/**
 * =========================================
 * Mixins
 * =========================================
 */

@mixin center{ margin:0 auto; }
@mixin full { width:100%; float:left; }
@mixin transition{
    -webkit-transition: all 0.2s ease;
       -moz-transition: all 0.2s ease;
        -ms-transition: all 0.2s ease;
         -o-transition: all 0.2s ease;
}
@mixin rounded_corners{
    -webkit-border-radius: 3px;
       -moz-border-radius: 3px;
            border-radius: 3px;
}

/* END Mixins */


/**
 * =========================================
 * Variables
 * =========================================
 */

  $blue:   #121418;
  $dblue:  #030303;
  $red:    #bf1e2e;
  $gold:   #c2b59b;
  $white:  #ffffff;

 /* END Variables */


/**
 * =========================================
 * Setup Classes
 * =========================================
 */

  .text-blue{   color: $blue !important; }
  .text-dblue{  color: $dblue !important; }
  .text-red{    color: $red !important; }
  .text-gold{   color: $gold !important; }
  .text-white{  color: $white !important; }

  .bg-blue{   background: $blue; }
  .bg-dblue{  background: $dblue; }
  .bg-red{    background: $red; }
  .bg-gold{   background: $gold; }
  .bg-white{  background: $white; }
