/**
 * =========================================
 * Imports
 * =========================================
 */

@import 'mixins';
@import 'setup';
@import 'responsive_styles';

/* END: Imports */


/**
 * =========================================
 * Global Styles
 * =========================================
 */

 * {
     margin:0; padding:0;

     -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
             box-sizing: border-box;
 }

 html{
   overflow: scroll;
   min-height: 100%;
   position: relative;
   width: 100%;
   background: $blue;
 }

 body{  }

 a{  }

 p{
   font-family: $catamaran;
   letter-spacing: 1px;
   font-size: 18px;
}

 ul{ list-style:none; }

 hr{  }

 h1, h2, h3, h4, h5, h6{
   font-family: $catamaran;
   text-transform: uppercase;
   letter-spacing: 5px;
 }

 table tr{  }

 ::selection{ background: $dblue; color: $white; }

 /* END: Global Styles */


 /**
  * =========================================
  * Utility Classes
  * =========================================
  */

 .clear{ clear: both; }
 .left{  float: left; }
 .right{ float: right; }
 .full{ width: 100%; float: left; }

 /* Five Columns Setup */
 .col-xs-15,
 .col-sm-15,
 .col-md-15,
 .col-lg-15 {
     position: relative;
     min-height: 1px;
     padding-right: 10px;
     padding-left: 10px;
 }
 .col-xs-15{
   width: 20%;
   float: left;
 }

.text-bold{ font-weight: 900 !important; }

.alpha{
  background: $red;
  color: $white;
  font-weight: 900;
  padding: 3px 8px;
  letter-spacing: 1px;
  font-size: 15px;
}

 /* END: Utility Classes */


 /**
  * =========================================
  * Navigation
  * =========================================
  */

  .nav-logo{
    margin: 20px 0px 0px 10px;
    height: 35px;
  }

  .nav{
    float: right;
    padding: 20px 10px 20px  0;

    li{
      float: left;

      &:nth-child(odd){
        a{
          @include transition;

          color: $white;
          font-weight: 400;
          font-size: 16px;
          letter-spacing: 2px;
          font-family: $catamaran;
          text-transform: uppercase;

          background: none !important;
          margin-bottom:3px;
          border-bottom: 0px solid $red;
          padding: 5px 3px;

          &:hover{
            @include transition;
            margin-bottom: 0px;
            border-bottom: 3px solid $red;
          }
        }
      }
      &:nth-child(even){
        background: #4c2f37;
        height: 20px;
        width: 1px;
        margin: 5px 15px 0 15px;
      }
    }
  }

/* END: Navigation */


 /**
  * =========================================
  * Elements
  * =========================================
  */

.hero{
  background: url(../images/hero-01.png) 50% 0% repeat-x;
  height: 550px;
  overflow: hidden;

  .hero-skater{
    img{
      width: 80%;
      padding-top: 30px;
    }
  }

  .hero-text{
    font-size: 30px;
    text-align: left;
    font-family: $catamaran !important;
    text-transform: uppercase;
    letter-spacing: 5px;
    padding-top: 150px;
  }
}


/* END: Elements */


/**
 * =========================================
 * Footer
 * =========================================
 */


/* END: Footer */
