/**
 * =========================================
 * Imports
 * =========================================
 */
/**
 * =========================================
 * Mixins
 * =========================================
 */
/* END Mixins */
/**
 * =========================================
 * Variables
 * =========================================
 */
/* END Variables */
/**
 * =========================================
 * Setup Classes
 * =========================================
 */
.text-blue {
  color: #121418 !important; }

.text-dblue {
  color: #030303 !important; }

.text-red {
  color: #bf1e2e !important; }

.text-gold {
  color: #c2b59b !important; }

.text-white {
  color: #ffffff !important; }

.bg-blue {
  background: #121418; }

.bg-dblue {
  background: #030303; }

.bg-red {
  background: #bf1e2e; }

.bg-gold {
  background: #c2b59b; }

.bg-white {
  background: #ffffff; }

/*------------------------------------------------------------------

    Responsive Styles
    
-------------------------------------------------------------------*/
/**
 * =========================================
 * Mixins
 * =========================================
 */
/* END Mixins */
/**
 * =========================================
 * Variables
 * =========================================
 */
/* END Variables */
/**
 * =========================================
 * Setup Classes
 * =========================================
 */
.text-blue {
  color: #121418 !important; }

.text-dblue {
  color: #030303 !important; }

.text-red {
  color: #bf1e2e !important; }

.text-gold {
  color: #c2b59b !important; }

.text-white {
  color: #ffffff !important; }

.bg-blue {
  background: #121418; }

.bg-dblue {
  background: #030303; }

.bg-red {
  background: #bf1e2e; }

.bg-gold {
  background: #c2b59b; }

.bg-white {
  background: #ffffff; }

/*-----------------  Desktops  -----------------*/
/* End Desktops */
/*-----------------  Smartphones  -----------------*/
/* End Smartphones */
/* END: Imports */
/**
 * =========================================
 * Global Styles
 * =========================================
 */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html {
  overflow: scroll;
  min-height: 100%;
  position: relative;
  width: 100%;
  background: #121418; }

ul {
  list-style: none; }

/* END: Global Styles */
/**
 * =========================================
 * Utility Classes
 * =========================================
 */
.clear {
  clear: both; }

.left {
  float: left; }

.right {
  float: right; }

/* Five Columns Setup */
.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
  position: relative;
  min-height: 1px;
  padding-right: 10px;
  padding-left: 10px; }

.col-xs-15 {
  width: 20%;
  float: left; }

/* END: Utility Classes */
/**
 * =========================================
 * Navigation
 * =========================================
 */
/* END: Navigation */
/**
 * =========================================
 * Elements
 * =========================================
 */
/* END: Elements */
/**
 * =========================================
 * Footer
 * =========================================
 */
/* END: Footer */

/*# sourceMappingURL=style.css.map */
